<div class="card-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_row(form.title,{'attr':{'class':'form-control','autocomplete':'off'}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.short_description,{'attr':{'class':'form-control','autocomplete':'off','cols':'30','rows':'10'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.description,{'attr':{'class':'form-control','autocomplete':'off','cols':'30','rows':'10'}}) }}
        </div>
    </div>

</div>


